*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
    
    body{
    font-family: "Poppins", sans-serif;
}
    
    header{
    background-color: #934097;
    color: #092640;
    width: 100%;
    padding: 50px;

}

.cabecalho-itens{
    max-width: 1980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho-imagem{
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.titulo_site{
    padding: 50px;
    text-align: center;
    width: 50%;
    font: 30px;
}
.sociais{
    display: flex;
    justify-content: flex-end;
    width: 25%;
    padding-right: 30px;
}
.banner1{
    display: flex;
    justify-content: center;
}

.estudante_titulo{
    padding: 50px;
    text-align: center;
    }
    
    .estudante-nome{
    text-align: center;
    }
    .estudante-imagem{
    width: 120px;
    }
    
    .estudante-icone{
    width: 38px;
    padding: 4px 8px;
    }

    .estudante{
        background-image: background-color(#092640);
        padding: 24px 0;
        }
        
        .estudante.div{
        text-align: center;
        padding: 24px 0;
        }
        .estudantes_todos{
        display: flex;
        justify-content: space-around;
        }

        .escola{
            background-image: linear-gradient(#8C52FF,#8C52FF);
            color: white;
            display: flex;
            justify-content:center;
            padding: 24px 0;
            text-align:center;
            display:block;
           
        }
        .escola-titulo{
            padding: 50px;
            text-align: center;
        }
    
        .logo_rodape{
            height: 80px;
            padding: 12px 0;
           
           
        }
        .link{
            color: #092640;
            text-decoration: none;
        }

        /* rodape */

.link{
    color: #f7f9fc;
    background-color: #092640; 
    text-decoration: none;
}
.logo_rodape{
    height: 50px;
    padding: 12px 0;
    display: flex;
justify-content: space-between;
}


.endereco_rodape{
    
        position: absolute; /* Define o posicionamento absoluto da imagem */
        top: 150px; /* Define a distância do topo da janela do navegador */
        left: 100px; /* Define a distância da esquerda da janela do navegador */
        width: 20px; /* Define a largura da imagem em pixels */
        height: auto; /* Ajusta a altura automaticamente para manter a proporção da imagem */
        
  }
  
  .whats_rodape{
    position: absolute; 
    top: 150px; 
    left: 150px; 
    width: 20px; 
    height: auto; 
}

.email_rodape{
    position: absolute; 
    top: 150px; 
    left: 200px; 
    width: 20px; 
    height: auto;
}

.face_rodape{
    position: absolute; 
    top: 150px; 
    left: 250px; 
    width: 20px; 
    height: auto;
}

.insta_rodape{
    position: absolute; 
    top: 150px; 
    left: 250px; 
    width: 20px; 
    height: auto;
}

